@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  /* Colores de fondo */
  --background: #f7f6f3;
  --primary: #3704ac;
  --secondary: #00afb9;
  --accent: #f25f5c;

  /* Colores de texto */
  --text-gray: #161616;
  --text-white: #ffffff;
}

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Encabezado */
.header {
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px;
  position: fixed;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 2;
}

.logo {
  height: 100px;
}
.nav i {
  font-size: 36px;
  display: none;
}
#toggle-menu {
  display: none;
}
.nav,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-white);
  font-size: 17px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar-list li:last-child > a {
  color: var(--text-white);
  font-weight: 500;
}

/* main */
main {
  background: #f3c5fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  width: 100%;
}
/*hero*/
#hero {
  margin-top: 60px;
  padding: 70px 0;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.hero-info h1 {
  font-size: 50px;
  width: 50%;
  min-width: 500px;
  font-weight: 800;
  color: var(--primary);
  margin-left: 70px;
}

.hero-info p {
  font-size: 15px;
  width: 50%;
  color: var(--text-gray);
  margin-left: 70px;
}

.hero-info a {
  color: var(--text-white);
  background-color: var(--secondary);
  width: 100px;
  padding: 8px 0;
  border-radius: 9px;
  font-size: 20px;
  text-align: center;
  margin-left: 150px;
  transition: all 0.2s ease-in-out;
}

.hero-card {
  width: 300px;
  background: var(--primary);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 70px;
  gap: 15px;
  gap: top 40px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subtitulo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary);
}

.descripcion {
  justify-content: center;
  padding: 10px 0;
  max-width: 1000px;
  border-top: solid 1px;
  line-gap-override: 10px;
  color: var(--text-gray);
}
/*Cards*/
#cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  gap: 20px;
  margin-top: 100px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 17%,
    rgba(94, 52, 188, 1) 83%,
    rgba(55, 4, 172, 1) 100%
  );
  color: var(--text-gray);
  width: 300px;
  height: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(1.09);
}

.card img {
  width: 100%;
  height: 40%;
  border-radius: 5px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--primary);
}

.card p {
  margin-bottom: 10px;
  color: var(--text-gray);
  line-height: 1.4;
}

.card-button {
  display: inline-block;
  margin: auto;
  font-size: 14px;
  padding: 8px 12px;
  background-color: var(--accent);
  color: var(--text-white);
  text-decoration: none;
  border-radius: 5px;
}

/* Contactos */
#contactos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: var(--text-gray);
  gap: 100px;
  margin: 50px 30px;
  border-style: solid;
}

#contactos h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--text-gray);
}

#contacto ul {
  list-style-type: none;
}

.sub-mobile {
  display: none;
}
.img-contacto {
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.contacto-1 {
  text-align: center;
  color: var(--text-gray);
}

.contacto-1 li {
  margin-bottom: 7px;
}
.contacto-1 a {
  color: var(--text-gray);
  border-bottom: solid black 1px;
}

.contacto-2 {
  text-align: center;
}

.contacto-2 li {
  margin-bottom: 5px;
}

.contacto-2 a {
  color: var(--text-gray);
  border-bottom: solid black 1px;
}

/* Footer */
footer {
  width: 100%;
  background-color: var(--primary);
  color: var(--text-white);
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-logo h2 {
  font-size: 20px;
  margin-left: 10px;
}

.footer-links ul {
  list-style-type: none;

  display: flex;
}

.footer-links li {
  margin-right: 10px;
}

.footer-links a {
  text-decoration: none;
  color: var(--text-white);
}

.footer-social h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-social ul {
  display: flex;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social a {
  color: var(--text-white);
  font-size: 24px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 992px) {
  .nav {
    gap: 10px;
  }
  .navbar-list {
    position: absolute;
    top: 65px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background-color: var(--primary);
    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .navbar-list a {
    font-size: 20px;
  }
  .nav i {
    display: block;
  }
  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }

  .hero-info {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .hero-info h1 {
    width: 70%;
    max-width: 800px;
    min-width: unset;
  }

  .hero-info p {
    font-size: 100%;
    width: 70%;
    max-width: 800px;
  }
  .hero-card {
    display: none;
  }

  .hero-info a {
    margin-right: 30%;
  }

  #info h2 {
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }

  #info p {
    font-size: 100%;
    max-width: 95%;
    margin: 5%;
  }

  #cards {
    max-width: 80%;
    flex-direction: column;
  }

  .card {
    margin-top: 2px;
  }

  .img-contacto {
    display: none;
  }
}

@media (max-width: 576px) {
  #hero {
    align-content: center;
  }
  .hero-info a {
    display: flex;
    margin-right: 30%;
  }
  .hero-info h1 {
    margin-left: 20%;
    width: 70%;
    font-size: 40px;
    margin: 10%;
  }
  .hero-info p {
    margin: 10%;
  }

  .card {
    max-width: 250px;
  }

  #contactos {
    width: 90%;
    flex-direction: column;
    gap: 20%;
    margin: 10%;
  }
  .contacto-2 {
    padding-top: 10px;
  }
  .sub-mobile {
    display: flex;
    border-bottom: solid black 2px;
  }

  .footer-logo {
    display: none;
  }
  .footer-social {
    display: none;
  }
  .footer-links {
    margin-left: 10%;
  }
  .footer-links a {
    border-bottom: solid var(--background) 1px;
  }
  .footer-bottom {
    margin-right: 15%;
  }
}
